body {
	background: #ffffff;
	color: #000000;
	font-family: verdana, arial, sans-serif;
	padding-left: 5%;
	padding-right: 5%;
}

li {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

a:hover {
	color: #000066;
	background: #FF8400;
}

h1, h2, h3, h4, h5 {
	color: #990066;
	background: transparent;	
}

h1 {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	text-align: center;
	/*
	font-size: 170%;
	border-top: 1px solid #000066;
	border-bottom: 1px solid #000066
	*/
}


em {
	font-weight: bold;
	color: #1a149e;
	background: transparent;
}

td {
	vertical-align: top;
}

table.param {
	font-size: 80%;
	background: #f0f0ff;
	border: 1px solid;
}

table.param td { 
	border-right: 1px solid;
	border-bottom: 1px solid;
	vertical-align: text-top;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

address {
	padding-top: 1em;
	padding-bottom: 1em;
}

.modified {
	color: #999999;
	background: transparent;
	padding-top: 0.5em;
	font-size: 80%;
	
}

.venn {
	color: #990066;
	background: transparent;
	font-weight: bold;
}

img {
	padding: 1em;
	border:0px;
}

.sep {
	border-top: 1px solid #990066;
}


.back {
	background: #f0f0f0;
	color: #990066;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

